<!--<p>Hello, I'm the first_heading.html</p>-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>first_heading</title>
</head>

<body>

    <div class="p-5 my-1">
        <img src="/workspace/exercise-collaborative-html-website/website1/assets/img/1.jpg"
            class="rounded-circle float-right w-25" alt="..." style="max-width: 200px;">
        <h1 class="text-left">This First Heading <span class="text-secondary"> Will Catch Your Eye</span></h1>
        <p class="text-left">Vivamus eget odio cursus, blandit magna eu, blandit ipsum. Curabitur id porta leo. Nam mi
            ligula, aliquet eget pulvinar vel, iaculis lobortis urna. Integer vel tincidunt velit. Fusce rutrum ante in
            mauris vehicula, nec vulputate enim vestibulum.</p>
    </div>

</body>

</html>